.text {
  color: $text-light-primary;
}

.star {
  label {
    transform: scale(1.5);
    margin-right: 2rem;
  }
}

.button {
  background-color: $primary-dark;
  &:hover {
    background-color: $primary-main;
  }
}
