.text {
  color: $text-light-primary;
}

.star {
  label {
    transform: scale(1.5);
    margin-right: 1rem;
  }
}

.button {
  background-color: $primary-dark;
  &:hover {
    background-color: $primary-main;
  }
}

.modal-content {
  width: 90vw;
  padding: 6rem 2rem;
}
