$background-dark-default: #161c24;
$primary-dark: #007b55;
$info-dark: #006c9c;
$primary-main: #00ab55;
$primary-light: #5be584;
$background-dark-neutral: #919eab;
$text-primary: #ffffff;
$warning-dark: #b76e00;
$info-main: #00b8d9;
$warning-main: #ffab00;
$text-light-secondary: #637381;
$transparent-grey-8: rgba(145, 158, 171, 0.08);
$transparent-grey-16: rgba(145, 158, 171, 0.16);
$transparent-black-5: rgba(0, 0, 0, 0.5);
$transparent-primary-8: rgba(0, 171, 85, 0.08);
$text-light-primary: #212b36;

$nav: 7rem;

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;
