// .my-reviews {
//   max-width: 80%;
//   border-left: 1px dashed $background-dark-neutral;
//   margin-left: 20%;
//   padding: 2rem;
//   min-height: calc(100dvh - env(safe-area-inset-top));
//   .avatar {
//     display: flex;
//     justify-content: end;
//     margin-bottom: 5rem;
//     img {
//       border-radius: 100%;
//       width: 7rem;
//     }
//   }
//   .movies-header {
//     margin-bottom: 5rem;
//     .title {
//       margin-bottom: 2rem;
//     }
//     .header-wrapper {
//       display: flex;
//       align-items: center;
//       .text {
//         color: $text-light-secondary;
//         &.active {
//           color: $text-primary;
//         }
//       }
//       .circle {
//         height: 1rem;
//         width: 1rem;
//         margin: 0 2rem;
//         background-color: $text-light-secondary;
//         content: "";
//         border-radius: 100%;
//       }
//     }
//   }
// }

.my-reviews {
  margin-top: 7rem;
  padding: 2rem;
  min-height: calc(100dvh - env(safe-area-inset-top));
  padding-bottom: 4rem;
  @include respond-to-lg {
    max-width: 80%;
    border-left: 1px dashed $background-dark-neutral;
    margin-left: 20%;
    margin-top: 0;
  }
  .avatar {
    display: flex;
    justify-content: end;
    margin-bottom: 5rem;
    img {
      border-radius: 100%;
      width: 7rem;
    }
  }

  .movies-header {
    margin-bottom: 5rem;
    .title {
      margin-bottom: 2rem;
    }
    .header-wrapper {
      display: flex;
      align-items: center;
      .text {
        color: $text-light-secondary;
        &.active {
          color: $text-primary;
        }
      }
      .circle {
        height: 1rem;
        width: 1rem;
        margin: 0 2rem;
        background-color: $text-light-secondary;
        content: "";
        border-radius: 100%;
      }
    }
  }

  .info-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    @include respond-to-lg {
      grid-template-columns: repeat(2, 1fr);
    }
    .total-reating {
      padding: 2rem;
      min-height: 6rem;
      border-radius: 0.5rem;
      background-color: $warning-dark;
      color: $text-primary;
      .icon {
        opacity: 0.2;
        path {
          fill: $text-primary;
        }
      }
    }
    .eviews {
      padding: 2rem;
      min-height: 6rem;
      border-radius: 0.5rem;
      background-color: $info-dark;
      color: $text-primary;
      .icon {
        opacity: 0.2;
        path {
          fill: $text-primary;
        }
      }
    }
  }
}
